@media screen and (min-width: 960px) {
  #judge-global-menu {
    .nav-item {
      a { padding-bottom: 18px; }
      ul {
        display: none;
        position: absolute;
        margin-left: -25px;
        padding-top: 15px;
        background: $bg-color;
        .nav-item {
          line-height: 50px;
          min-width: 150px;
        }
      }
      &:hover {
        & > a {
          border-bottom: 3px solid $highlight;
        }
        ul {
          display: block;
        }
      }
    }
  }
  #judge-global-banner-collapse {
    display: none;
  }
}


