@media screen and (min-width: 960px) {
  #judge-global-menu {
    .nav-item {
      a { padding-bottom: 18px; }
      ul {
        position: absolute;
        margin-left: -45px;
        padding-top: 15px;
        max-height: 0;
        overflow: hidden;
        width: 150px;
        transition: all 500ms;
        padding-bottom: 3px;
        box-sizing: border-box;
        .nav-item {
          line-height: 55px;
          min-width: 100px;
          background: $bg-color;
          margin: 0;
          width: 100%;
          &:after {
            top: 55px;
          }
          &:hover:after {
            left: 20%;
            right: 20%;
          }
        }
      }

      &:hover ul {
        max-height: 183px;
      }
    }
  }
  #judge-global-banner-collapse {
    display: none;
  }
}


