@media screen and (max-width: 959px) {
  #judge-global-banner.collapsed {
    #judge-global-menu {
      display: none;
    }
  }
  #judge-global-menu {
    background-color: $bg-color;
    display: block;
    .nav-item {
      color: white;
      display: block;
      height: 20px;
      margin-right: 20px;
      padding: 15px;
      width: 80px;
      &.active {
        & > a,
        & > span {
          border-bottom: 3px solid $highlight;
        }
        ul {
          display: block;
          left: 120px;
          position: relative;
          bottom: 100px;
        }
      }
      ul {
        display: none;
        padding-top: 15px;
        .nav-item {
          float: none;
          width: 100px;
        }
      }
    }
  }
  #judge-global-banner-collapse {
    background-color: $bg-color;
    border: 1px black solid;
    box-shadow: 0 1px 3px rgba(000, 000, 000, 0.5), inset 0 0 1px rgba(255, 255, 255, 0.7);
    cursor: pointer;
    display: inline-block;
    color: white;
    padding: 5px;
    font-size: 28px;
    vertical-align: middle;
    margin-left: 10px;
    &:active {
      color: $highlight;
    }
  }
}

@media screen and (max-width: 400px) {
  #search-icon {
    display: none;
  }
}

@media screen and (max-width: 300px) {
  #judge-global-search {
    display: none;
  }
}
