$font-stack: 'Raleway', Helvetica, Arial, sans-serif;
$bg-color: #363636;
$highlight: darkorange;
$height: 45px;

#judge-global-banner {
  background-color: $bg-color;
  font: 100% $font-stack;
  padding: 5px 10px;
  position: relative;
  z-index: 99999;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 55px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #judge-global-menu {
    display: flex;
    cursor: pointer;
  }

  .nav-item {
    margin: 0 25px;
    color: white;
    min-width: 60px;
    position: relative;
    text-align: center;
    &:after {
      content: " ";
      position: absolute;
      top: 37px;
      left: 50%;
      right: 50%;
      height: 3px;
      background-color: $highlight;
      transition: all 500ms;
      z-index: 10;
    }
    &:hover:after {
      left: 0;
      right: 0;
    }
  }

  .current {
    color: $highlight;
    font-weight: bold;
  }

  #judge-global-search {
    flex-grow: 1;
    text-align: right;
    .material-icons {
      color: #929292;
      font-size: 28px;
      vertical-align: middle;
      cursor: pointer;
      transition: color 500ms;
    }
    &:hover {
      .material-icons {
        color: $highlight;
      }
    }
    input {
      border: 1px black solid;
      border-radius: 15px;
      height: 30px;
      padding: 5px 15px;
      outline: none;
      width: 150px;
    }
  }

  a {
    color: white;
    font-weight: normal;
    text-decoration: none;
  }
}

@import "desktop";
@import "mobile";
