@import url('https://fonts.googleapis.com/css?family=Raleway:500');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$font-stack: 'Raleway', Helvetica, Arial, sans-serif;
$bg-color: #363636;
$highlight: darkorange;
$height: 45px;

#judge-global-banner {
  background-color: $bg-color;
  font: 100% $font-stack;
  padding: 5px;
  position: relative;
  z-index: 99999;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
  }
  .nav-item {
    cursor: pointer;
  }
  a {
    color: white;
    font-weight: normal;
    text-decoration: none;
  }
  .current {
    color: $highlight;
    font-weight: bold;
  }
}

#judge-global-search {
  display: inline-block;
  left: 170px;
  position: absolute;
  top: 10px;
  .material-icons {
    color: #929292;
    font-size: 28px;
    vertical-align: middle;
    cursor: pointer;
  }
  &:hover {
    .material-icons {
      color: #FF8C00;
    }
  }
  input {
    border: 1px black solid;
    border-radius: 15px;
    height: 30px;
    padding: 5px 15px;
    outline: none;
    width: 150px;
  }
}

@import "desktop";
@import "mobile";
